<!DOCTYPE html>
<html lang="en-EU">

<head>
<title>
DDG
</title>
<link rel="styleSheet" href="layout.css"/>
</head>

<body>
<div >

<h1>New Item</h1>

<%= render 'form' %>

<%= link_to 'Back', items_path %>



</div>
</body>

</html>
