

<div class="containerIndex">
<a href="/him">
	<div class= "ToTshirtsMen">
	    <%= image_tag "Stills/StockPic/Him/HimOne.png",width:"100%", height:"100%" %>
		
		<ul>
			<h1>HIM</h1>
		</ul>
	</div>

</a>
<a href="/her">
	<div class= "ToTshirtsWomen">
		<%= image_tag "Stills/StockPic/Her/HerGlasses.png",width:"100%", height:"100%" %>
		<ul>
			<h1>HER</h1>
		</ul>
	</div>
</a>
</div>


</div>
</body>

</html>