body{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	background-color:#eeeeee;
}
.logo{
	height:0;
	float:left;
	padding-left:20px;
	padding-top:0px;
	margin-top:-25px;
	margin-left:15%;
	border-left:1em solid #000000;
	border-right:1em solid #000000;
	}


.nav {
	height: 60px;
	margin-left: 20px;
	margin-right:15%;
	margin-bottom: 10px;
	margin-top: 10px;
	
}.nav ul{
	margin-top:10px;
	padding:0px;
}.nav li a{
	text-decoration: none;
	color:#000000;
}.nav li{
	list-style-type:none;
	text-align:center;
	display:block;
	float:right;
	width:7%;
	height:22px;
	border-right:solid;
	border-left:solid;
	border-color:#eeeeee;
}
.nav li:hover{
	border-right:solid;
	border-left:solid;
	background-color:#ffffff;
	opacity:0.7;
}
.Search{
margin-bottom:5em;
float:left;
	
}
.container{
	margin-left:10%;
	margin-right:10%;
	clear:both;
	padding-left:7em;
}
.containerIndex{
	margin-left:10%;
	margin-right:10%;
	clear:both;
	padding-left:7em;
	padding-right:7em;
}

a{
	color:#000000;
}
.ToTshirtsMen{
	margin-top:8em;
	width:46%;
	height:26em;
	background-color:#eeeeee;
	float:left;
	text-align:center;
	border-left:1em solid #00000000;
	border-right:1em solid #00000000;
	
	
}
.ToTshirtsMen ul{
	margin-top:-30px;
	color:#000000;	
}
.ToTshirtsMen:hover{
	border-right:1em solid #000000;
	border-left:1em solid #000000;
	opacity:0.8;
}
.ToTshirtsWomen{
	margin-top:8em;
	width:46%;
	height:26em;
	background-color:#eeeeee;
	float:right;
	text-align:center;
	border-right:1em solid #00000000;
	border-left:1em solid #00000000;
	margin-bottom:2.3em;
	
	
}
.ToTshirtsWomen ul{
	margin-top:-30px;
	color:#000000;
}
.ToTshirtsWomen:hover{
	border-right:1em solid #000000;
	border-left:1em solid #000000;
	opacity:0.8;
}
.holder{
	width:15%;
	height:18em;
	background-color:#aaaaaa;
	margin:3em;
	display:inline-block;
	
}
.holder:hover{
	border-left:1em solid #000000;
	border-right:1em solid #000000;
	opacity:0.8;
}
.wrapper{
	width:16%;
	height:18em;
	margin-top:4em;
	margin-left:2em;
	margin-right:2em;
	margin-bottom:7em;
	display:inline-block;
	border-left:1em solid #eeeeee;
	border-right:1em solid #eeeeee;
}
.wrapper:hover{
	border-left:1em solid #000000;
	border-right:1em solid #000000;
	opacity:0.8;
}
.priceWrapper{
	text-align:center;
	background-color:#ff000000;
	height:4em;
	margin-bottom:2em;
}
.priceWrapper:hover{
	opacity:0.8;
}


.holderPrice{
	float:left;
	position:relative;
	height:2em;
	width:100%;
	background-color:#ff00fa;
	padding:0em;
	display:inline-block;
	border-left:1em solid #eeeeee;
	border-right:1em solid #eeeeee;
	}
.holderPrice:hover{
	border-left:1em solid #000000;
	border-right:1em solid #000000;
}
.conholder{
	padding-left:2.2%;
	text-align:center;
}

#leftSide{
	height:27em;
	width:4em;
	position:absolute;
	transition-duration: 0.4s;
}#leftSide:hover{
	background-color:#000000;
	opacity:0.4;
}

.tshirtContainer{
	float:left;
	width:40%;
	height:26em;
	margin-left:8em;
	margin-top:5em;
	margin-bottom:4em;
	margin-right:2em;
}
.tshirtSmall{
	float:left;
	height:28.5%;
	width:20%;
	border:1px solid #000000;
	margin-top:2.5%;
	margin-left:1em;
	
	
}
.tshirtBig{
	float:right;
	display:inline-block;
	height:95%;
	width:64%;
	border:1px solid #000000;
	margin-top:2.5%;
	margin-right:1em;
	
}
.tshirtInfo{
	float:right;
	width:40%;
	height:26em;
	
	margin-right:8em;
	margin-top:4em;
	margin-bottom:4em;
	margin-right:2em;
	
}
.info{
	margin-left:3%;
}
.colorOne{
	float:left;
	height:15%;
	width:15%;
	border:1px solid #000000;
	margin-top:2.5%;
	margin-left:3%;
	background-color:#002db3;
	display:inline-block;
	
}
.colorTwo{
	float:left;
	height:15%;
	width:15%;
	border:1px solid #000000;
	margin-top:2.5%;
	margin-left:3%;
	background-color:#009933;
	display:inline-block;
	
}
.colorThree{
	float:left;
	height:15%;
	width:15%;
	border:1px solid #000000;
	margin-top:2.5%;
	margin-left:3%;
	background-color:#ec1313;
	display:inline-block;
	
}
.small{
		float:left;
	height:15%;
	width:15%;
	border:1px solid #000000;
	margin-top:6%;
	margin-left:3%;
	text-align:center;
	clear:both;
	display:inline-block;
	
}
.medium{
	float:left;
	height:15%;
	width:15%;
	border:1px solid #000000;
	margin-top:6%;
	margin-left:3%;
	text-align:center;
	display:inline-block;
	
	
}
.large{
		float:left;
	height:15%;
	width:15%;
	border:1px solid #000000;
	margin-top:6%;
	margin-left:3%;
	text-align:center;
	display:inline-block;
	
}
.addto{
	clear:both;
	float:left;
	text-align:center;
	margin-top:4%;
	margin-left:3%;
	height:4em;
	width:52%;
	background-color:#006600;
}
.loginCon{
	height:25em;
	width:40%;
	border:1px solid #000000;
	margin-top:6%;
	margin-left:30%;
	margin-bottom:4em;
	text-align:center;
	display:inline-block;
}
.name{
	height:4em;
	width:40%;
	border:1px solid #000000;
	margin-top:2em;
	margin-bottom:1em;
	float:left;
	margin-left:30%;
	text-align:center;
	
}
.email{
	height:4em;
	width:40%;
	border:1px solid #000000;
	margin-top:1em;
	margin-bottom:1em;
	float:left;
	margin-left:30%;
	text-align:center;
}
	

.password{
	height:4em;
	width:40%;
	border:1px solid #000000;
	margin-top:1em;
	margin-bottom:1em;
	float:left;
	margin-left:30%;
	text-align:center;
}
.item{
	height:12em;
	width:50%;
	border:1px solid #000000;
	margin-top:1em;
	margin-bottom:1em;
	float:left;
	margin-left:25%;
	text-align:center;
}
.itemImage{
	height:10em;
	width:20%;
	border:1px solid #000000;
	margin-top:1em;
	margin-left:1em;
	float:left;
	text-align:center;
}
.itemInfo{
	height:10em;
	width:72%;
	border:1px solid #000000;
	margin-top:1em;
	margin-left:1em;
	float:left;
	text-align:center;
}
.sociallink{
	width:40px;
	height:40px;
	margin-top:15px;
	margin-left:50px;
	margin-right:50px;
	background:#ffffff;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	display:inline-block;
}
.sociallink:hover{
	opacity:0.8;
	border-left:1px solid #ffffff;
	border-right:1px solid #ffffff;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
}
.hold{
	height:10em;
	float:both;
	
}
.footer{
	height:105px;
	width:100%;
	position:fixed;
	margin-top:10em;
	bottom:-5px;
	clear:both;
	background-color:#000000;
	text-align:center;
	
}
