<!DOCTYPE html>
<html lang="en-EU">

<head>
<title>
DDG
</title>
<link rel="styleSheet" href="layout.css"/>
</head>

<body>
<div >
<div class="logo">
<h1>|  DDG |</h1>
	<div class="Search">
		<p>SEARCH</P>
	</div>
</div>


<div class="nav">
	<ul>
		
		
		<a href="#"><li>BASKET</li></a>
		
		<a href="#"><li>SIGN IN</li></a>
		
		<a href="#"><li>HER</li></a>
		
		<a href="#"><li>HIM</li></a>
		
		<a href="#"><li>HOME</li></a>
		
		</li>
	</ul>
</div>



<div class="containerIndex">
<a href="#">
	<div class= "ToTshirtsMen">
		<img src ="Stills/StockPic/Him/HimOne.png" alt ="##" width="100%" height="100%" />
		<ul>
			<h1>HIM</h1>
		</ul>
	</div>

</a>
<a href="#">
	<div class= "ToTshirtsWomen">
		<img src ="Stills/StockPic/Her/HerGlasses.png" alt ="##" width="100%" height="100%" />
		<ul>
			<h1>HER</h1>
		</ul>
	</div>
</a>
</div>

<div class="hold">
</div>
<div class="footer">
	
	<div class="sociallink"><a href="#"><img src ="Stills/LOGOS/twitter1.png"/></a></div>
	
	<div class="sociallink"><a href="#"><img src ="Stills/LOGOS/facebook1.png"/></a></div>
	
	<div class="sociallink"><a href="#"><img src ="Stills/LOGOS/youtube1.png"/></a></div>
	
	<div class="sociallink"><a href="#"><img src ="Stills/LOGOS/instagram1.png"/></a></div>

</div>



</div>
</body>

</html>