<!DOCTYPE html>
<html lang="en-EU">
<head>
<title>
DDG WOMENS T-SHIRT PAGE
</title>
<link rel="styleSheet" href="layout.css"/>
</head>
<body>
<div>
<div class="logo">
<h1>|  DDG WOMENS T-SHIRT |</h1>
	<div class="Search">
		<p>SEARCH</P>
	</div>
</div>


<div class="nav">
	<ul>
		<a href="#"><li>BASKET</li></a>
		
		<a href="#"><li>SIGN IN</li></a>
		
		<a href="#"><li>HER</li></a>
		
		<a href="#"><li>HIM</li></a>
		
		<a href="#"><li>HOME</li></a>
		</li>
	</ul>
</div>
<div class="container">
<div class="tshirtContainer">
<div class="tshirtBig">
<img src="Stills/StockPic/Her/HerOneOne.jpg" width="100%" height="100%"/>
</div>
<div class="tshirtSmall">
<img src="Stills/StockPic/Her/HerOneOne.jpg" width="100%" height="100%"/>
</div>
<div class="tshirtSmall">
<img src="Stills/StockPic/Her/HerOneTwo.jpg" width="100%" height="100%"/>
</div>
<div class="tshirtSmall">
<img src="Stills/StockPic/Her/HerOneThree.jpg" width="100%" height="100%"/>
</div>
</div>
<div class="tshirtInfo">
<div class="info">
<h1> the name of the tShirt</h1>
<h4> more info about the tshirt</h4>
</div>
<div class="colorOne">
</div>
<div class="colorTwo">
</div>
<div class="colorThree">
</div>
<div class="small">
<h4>SMALL</H4>
</div>
<div class="medium">
<h4>MEDIUM</H4>
</div>
<div class="large">
<h4>LARGE</H4>
</div>
<div class="addto">
<h2>ADD TO BASKET</h2>
</div>
</div>
</div>


</div>
<div class="hold">
</div>

<div class="footer">
	
	<div >
	<div class="sociallink"><a href="#"><img src ="Stills/LOGOS/twitter1.png"/></a></div>
	
	<div class="sociallink"><a href="#"><img src ="Stills/LOGOS/facebook1.png"/></a></div>
	
	<div class="sociallink"><a href="#"><img src ="Stills/LOGOS/youtube1.png"/></a></div>
	
	<div class="sociallink"><a href="#"><img src ="Stills/LOGOS/instagram1.png"/></a></div>

</div>

</div>
</body>
</html>